---
- name: Install dependencies
  apt:
    name:
      - curl
      - apt-transport-https
      - python3-pip
    state: present
    update_cache: yes

- name: Install kubernetes Python library
  pip:
    name: kubernetes
    executable: pip3

- name: Download Helm install script
  get_url:
    url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    dest: /tmp/get_helm.sh
    mode: "0755"
  notify: Remove Helm script

- name: Install Helm
  command: /tmp/get_helm.sh

- name: Add Prometheus community repo
  command: helm repo add prometheus-community https://prometheus-community.github.io/helm-charts

- name: Add Grafana repo
  command: helm repo add grafana https://grafana.github.io/helm-charts

- name: Update Helm repos
  command: helm repo update

- name: Install kube-prometheus-stack
  command: >
    helm upgrade --install monitoring prometheus-community/kube-prometheus-stack
    --namespace monitoring --create-namespace --kubeconfig /home/ubuntu/.kube/config

- name: Change monitoring-grafana Service type to NodePort
  kubernetes.core.k8s:
    state: present
    kubeconfig: /home/ubuntu/.kube/config
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: monitoring-grafana
        namespace: monitoring
      spec:
        type: NodePort
        ports:
          - port: 80
            targetPort: 3000
            protocol: TCP
            nodePort: 30666

- name: Install ingress-nginx with NodePort
  command: >
    helm upgrade --install ingress-nginx ingress-nginx \
    --repo https://kubernetes.github.io/ingress-nginx \
    --namespace ingress-nginx --create-namespace \
    --set controller.service.type=NodePort \
    --set controller.service.nodePorts.http=32080 \
    --set controller.service.nodePorts.https=32443 \
    --kubeconfig /home/ubuntu/.kube/config
