---
- name: Apply mysql manifests
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('file', 'mysql/' + item) }}"
  loop:
    - vprofile-ns.yml
    - db-secrets.yml
    - db-pv.yml
    - db-pvc.yml
    - db-statefulset.yml
    - db-service.yml
  when: inventory_hostname in groups['masters'] 

- name: Apply rabbitmq manifests
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('file', 'rabbitmq/' + item) }}"
  loop:
    - rmq-edploy.yml
    - rmq-secret.yml
    - rmq-service.yml
  when: inventory_hostname in groups['masters'] 

- name: Apply memcached manifests
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('file', 'memcahed/' + item) }}"
  loop:
    - mc-deployment.yml
    - mc-service.yml
  when: inventory_hostname in groups['masters'] 

- name: Apply tomcat manifests
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('file', 'tomcat/' + item) }}"
  loop:
    - tomcat-deployment.yml
    - tomcat-service.yml
    - tomcat-ingress.yml
  when: inventory_hostname in groups['masters'] 