- name: Apply Kubernetes manifests for mysql, rabbitmq, and tomcat
  hosts: localhost
  gather_facts: no

  vars:
    kubeconfig_path: "~/.kube/config"
    mysql_files:
      - "mysql/db-pv.yaml"
      - "mysql/db-pvc.yaml"
      - "mysql/db-statefulset.yaml"
      - "mysql/db-service.yaml"
    rabbitmq_files:
      - "rabbitmq/rmq-edploy.yaml"
      - "rabbitmq/rmq-service.yaml"
    tomcat_files:
      - "tomcat/tomcat-deployment.yaml"
      - "tomcat/tomcat-service.yaml"
  tasks:
    - name: Apply mysql manifests
      k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        definition: "{{ lookup('file', item) }}"
      loop: "{{ mysql_files }}"

    - name: Apply rabbitmq manifests
      k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        definition: "{{ lookup('file', item) }}"
      loop: "{{ rabbitmq_files }}"

    - name: Apply tomcat manifests
      k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        definition: "{{ lookup('file', item) }}"
      loop: "{{ tomcat_files }}"
