apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /home/ubuntu/k8s-data   
    type: DirectoryOrCreate       
  persistentVolumeReclaimPolicy: Retain
